<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0e1330">
  <div class="container-fluid">
    <a class="navbar-brand">Quiztopia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- <li class="nav-link">Welcome</li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Log In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
