<!-- header -->
<header *ngIf="quiz">
  <h1>{{quiz.title}}</h1>
  <h2>By {{creator.username}}</h2>
  <p>{{quiz.description}}</p>
</header>

<br>

<form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
  <div *ngIf="quiz" style="color: white;">
    <div *ngFor="let question of quizQuestion; let i = index">
      <fieldset id="group[{{i}}]">
        <p>Question {{i+1}}: {{question.question}}</p>
        <div class="form-check" >
          <!-- container for possible questions -->
          <div *ngFor="let answer of question.possible_answers">
            <input class="form-check-input" type="radio" name="group[{{i}}]" [value]="answer">
            <label class="form-check-label" for="answer">
              {{answer}}
            </label>
          </div>
          <!-- <div class="form-check" *ngFor="let answer of question.possible_answers">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              {{answer}}
            </label>
          </div> -->
        </div>
      </fieldset>
      <p>---------------------------------------------------------------------------------------------------</p>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!quizForm.valid">Turn in Quiz!</button>
</form>
<!-- quiz description -->



